<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <style>
        table{
         border-collapse: collapse;
         border-spacing: 0
        }
        th{
            background-color: #f6f7fb;
    	color: #000;
        }
        th, td{
            border: 1px solid #ccc;
    	padding: 10px;
        }
        input{
            border:none;
        }
        .container{
            display: flex;
            max-width: 1141px;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
        .btn-display{
         display: flex;
         justify-content: center;
         margin-bottom:20px;
        }
        button{
            margin:10px;
        }
    </style>
</head>

<body>
<!-- Pre-loader start -->

<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" th:include="includes/header :: header"></nav>

        <div class="pcoded-main-container">
            <div th:include="includes/navbar :: navbar"></div>
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-table" style="background-color: #FC6180;"></i>
                                            <div style="display:flex; align-items:center;">
                                                <h4> 견적서 </h4>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="page-body">


                                <div class="card">

                                    <div class="card-header">
                                        <div class="container">
                                        <h1>견 적 서</h1>



                                            <table id="estimateTable" width="90%" >

                                            <tr>
                                                <th colspan="2">견적서번호</th>
                                                <td colspan="3">
                                                    <input type="text">
                                                </td>
                                                <th colspan="2">회사명<button id="openNewWindowButton">회사검색</button></th>
                                                <td colspan="3">
                                                    <input type="text">
                                                </td>

                                            </tr>
                                            <tr>
                                                <th rowspan="2" colspan="2">주소</th>
                                                <td rowspan="2" colspan="3">
                                                    <input type="text">
                                                </td>
                                                <th rowspan="1" colspan="2">사업자번호</th>
                                                <td colspan="3">
                                                    <input type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th rowspan="1" colspan="2">대표자</th>
                                                <td colspan="3">
                                                    <input type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2" colspan="2">참조</th>
                                                <td colspan="3" rowspan="2">
                                                    <input type="text" placeholder="참조 입력하세요">
                                                </td>
                                                <th colspan="2" rowspan="2">담당자</th>
                                                <th>성명</th>
                                                <td colspan="2">
                                                    강현규
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >연락처</th>
                                                <td colspan="2">
                                                    031-548-4664
                                                </td>
                                            </tr>
                                            <!--
                                            <tr>
                                                <th colspan="2">제목</th>
                                                <td colspan="6"></td>
                                            </tr>
                                            -->
                                            <tr>
                                                <th>No</th>
                                                <th>PID</th>
                                                <th colspan="2">품명</th>
                                                <th>규격</th>
                                                <th>수량</th>
                                                <th>단위</th>
                                                <th>단가</th>
                                                <th colspan="2">금액</th>


                                            </tr>

                                            <tbody id="tableBody">

                                            </tbody>


                                            <tr>
                                                <td colspan="10">
                                                    <button onclick="addRow()">품목추가하기</button>
                                                    <button onclick="deleteRow()">품목삭제하기</button>
                                                </td>
                                            </tr>



                                            <!---------------------------------------------------->
                                            <tr>
                                                <th colspan="3">합계(VAT 포함)</th>

                                                <td colspan="7" class="total"></td>

                                            </tr>
                                            <tr>
                                                <th colspan="2">특기사항</th>
                                                <td colspan="8">
                                                    <ol>
                                                        <li>납기 일자 : <input type="text" ></li>
                                                        <li>기    타 : <input type="text" ></li>
                                                    </ol>
                                                </td>
                                            </tr>

                                        </table>


                                    </div>
                                    </div>

                                    <div class="btn-display">
                                        <button id="saveButton" class="btn btn-warning" style="background-color: #FC6180; border-color: #FC6180; margin:10px;">등록</button>
                                        <button class="btn btn-warning"
                                                th:attr="onclick='gotoList()'"
                                                style="background-color: #FC6180; border-color: #FC6180;">목록</button>
                                        <input type="reset" class="btn btn-warning" style="background-color: #FC6180; border-color: #FC6180; margin:10px;"/>
                                    </div>



                                </div>


                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>



  function gotoList(){
    var url = '/plan/document';
    window.location.href = url;
}


// 회사정보를 찾기 위한 새창열기 기능 시작

 document.getElementById('openNewWindowButton').addEventListener('click', function() {
    var newWindow = window.open('/plan/company_search', '_blank', 'width=600,height=400');
    if (newWindow) {
        newWindow.focus();
    } else {
        alert('팝업이 차단되었습니다. 팝업 차단을 해제하고 다시 시도하세요.');
    }
});



// 행을 반대로 삭제하는 메서드


function deleteRow() {
var table = document.getElementById("tableBody");
var rowCount = table.rows.length;

if (rowCount > 0) { // 최소한의 행이 유지되도록 설정
    table.deleteRow(rowCount - 1); // 맨 끝 행 삭제
}
}


// 품목 추가를 위한 행 추가 기능 시작

   function addRow() {


    var newWindow = window.open('/plan/item_search', '_blank', 'width=800,height=800');
    if (newWindow) {
        newWindow.focus();
    } else {
        alert('팝업이 차단되었습니다. 팝업 차단을 해제하고 다시 시도하세요.');
    }
}


function check(materialId) {

console.log(materialId);

var xhr = new XMLHttpRequest();
var url = '/plan/material_search/' + materialId; // 실제 컨트롤러 엔드포인트 URL로 변경해주세요

xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
            var materialDTO = JSON.parse(xhr.responseText);
            console.log(materialDTO); // 가져온 데이터 확인

            var companyId = materialDTO.companyId;
            var materialCategory = materialDTO.materialCategory;
            var materialCode = materialDTO.materialCode;
            var materialDescription = materialDTO.materialDescription;
            var materialId = materialDTO.materialId;
            var materialMeasure = materialDTO.materialMeasure;
            var materialName = materialDTO.materialName;
            var materialPrice = materialDTO.materialPrice;




                var table = document.getElementById("tableBody");
                var rows = table.getElementsByTagName("tr");
                var rowNum = rows.length;
                var row = table.insertRow(-1);


                var cell = row.insertCell(0);
                   var idInput = "index"+rowNum;
                   cell.setAttribute("id", idInput);
                 cell.appendChild(document.createTextNode(""));



                 cell = row.insertCell(1);
                 cell.colSpan = "2";
                idInput = "materialId"+rowNum;
                   cell.setAttribute("id", idInput);
                 cell.appendChild(document.createTextNode(materialId));

                 cell = row.insertCell(2);
                 cell.colSpan = "1";
                    idInput = "materialName"+rowNum;
                   cell.setAttribute("id", idInput);
                 cell.appendChild(document.createTextNode(materialName));

                 cell = row.insertCell(3); //규격
                 cell.colSpan = "1";
                  idInput = "materialDescription"+rowNum;
                   cell.setAttribute("id", idInput);
                 cell.appendChild(document.createTextNode(materialDescription));

                 cell = row.insertCell(4); //수량
                 cell.colSpan = "1";
                 var input = document.createElement("input");
                    input.setAttribute("type", "text");
                    input.classList.add("countNumber");
                    cell.appendChild(input);

                 cell = row.insertCell(5); //단위
                 cell.colSpan = "1";
                     idInput = "materialMeasure"+rowNum;
                   cell.setAttribute("id", idInput);
                 cell.appendChild(document.createTextNode(materialMeasure));

                 cell = row.insertCell(6); //단가
                 cell.colSpan = "1";
                    idInput = "materialPrice"+rowNum;
                   cell.setAttribute("id", idInput);

                 cell.appendChild(document.createTextNode(materialPrice));

                 cell = row.insertCell(7); //금액
                 cell.colSpan = "1";
                  idInput = "materialMeasure"+rowNum;
                    cell.setAttribute("id", idInput);


                    cell.classList.add("totalPrice");



                 renumberRows();
                 row.style.width = "60%";

                    var elements = document.getElementsByClassName('countNumber');
                     var totalPrice = 0;

                    for (var i = 0; i < elements.length; i++) {

                        elements[i].addEventListener('input', function() {
                            var row = this.parentNode.parentNode; // 현재 요소의 부모 요소인 셀의 부모 요소인 행을 가져옵니다.

                            var input1Value = parseFloat(row.cells[4].children[0].value); // cell = row.insertCell(4); 셀의 값
                            var input2Value = parseFloat(row.cells[6].textContent); // cell = row.insertCell(6); 셀의 값

                            // 두 값이 모두 숫자인 경우에만 곱셈을 진행합니다.
                            if (!isNaN(input1Value) && !isNaN(input2Value)) {
                              var multiplicationResult = input1Value * input2Value; // 두 값의 곱셈


                                // 결과가 숫자가 아니거나 Infinity 또는 -Infinity인 경우 빈 문자열로 대체합니다.
                                row.cells[7].textContent = isFinite(multiplicationResult) ? multiplicationResult : '';

                                // 'totalPrice' 클래스를 가진 모든 input 요소를 선택합니다.
totalPriceInputs = document.querySelectorAll('.totalPrice');


    updateTotalSumOfAllRows();





                            } else {
                                row.cells[7].textContent = ''; // 하나라도 숫자가 아니면 빈 문자열로 표시합니다.
                            }


                        });


                    }

        } else {
            console.log('Request failed. Status: ' + xhr.status);
        }
    }
};
 xhr.open('GET', url, true);
xhr.send();
}

var totalPriceInputs;

// 모든 행에 대한 총합을 갱신하는 함수
function updateTotalSumOfAllRows() {
    var grandTotalSum = 0;

    // 각 'totalPrice' 클래스를 가진 td 또는 input 요소의 값을 가져와서 총합을 계산합니다.
    totalPriceInputs.forEach(function (element) {
        var inputValue;

        // td 안의 텍스트 값을 가져옴
        if (element.tagName.toLowerCase() === 'td') {
            inputValue = parseFloat(element.textContent);
        } else if (element.tagName.toLowerCase() === 'input') {
            inputValue = parseFloat(element.value);
        }

        if (!isNaN(inputValue)) {
            grandTotalSum += inputValue;
        }
    });

    // 변경된 전체 '총합'을 콘솔에 출력합니다.

    // 변경된 전체 '총합'을 'total' 클래스를 가진 td에 업데이트합니다.
    var totalTd = document.querySelector('td.total'); // 적절한 선택자를 사용하여 'total' 클래스를 가진 td를 찾습니다.

    if (totalTd) {
        totalTd.textContent = grandTotalSum;
    } else {
        console.error("Total TD not found!"); // 적절한 td를 찾지 못한 경우 에러를 출력합니다.
    }
}



// 첫셀에서 index 주는 메서드

function renumberRows() {
 var rowNum = 0; // 초기 번호
var table = document.getElementById("tableBody");
var rows = table.getElementsByTagName("tr");

for (var i = 0; i < rows.length; i++) {
    var cells = rows[i].getElementsByTagName("td");
    if (cells.length > 0) {
        cells[0].innerText = ++rowNum; // 첫 번째 셀에 순차적으로 번호를 매깁니다.
    }
}
}
//index 기능 종료


document.getElementById('saveButton').addEventListener('click', function () {
    var rows = document.getElementById('tableBody').getElementsByTagName('tr');
    var quotationDetailDTOList = [];

    // 각 행의 데이터 수집
    for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName('td');

        var materialId = parseFloat(cells[1].textContent);
        var materialName = cells[2].textContent;
        var materialDescription = cells[3].textContent;
        var countNumber = parseFloat(cells[4].getElementsByTagName('input')[0].value);
        var materialMeasure = cells[5].textContent;
        var materialPrice = parseFloat(cells[6].textContent);
        var totalPrice = parseFloat(cells[7].textContent);

        // 데이터를 DTO로 만들어 List에 추가
        var quotationDetailDTO = {
            // 필드들

            material_id: materialId,
            materialName: materialName,
            quotationCnt: countNumber,
            quotationMeasure: materialMeasure,
            quotationPrice: totalPrice
        };

        quotationDetailDTOList.push(quotationDetailDTO);
    }

    var quotationTotalPriceElement = document.querySelector('.total');
var quotationTotalPrice = parseFloat(quotationTotalPriceElement.textContent);

    // QuotationDTO 객체 구성
    var quotationDTO = {

        company_id: "456-12-78912",  // company_id도 서버에서 설정
        company_name: "프레임택",  // company_name도 서버에서 설정
        quotation_totalprice: quotationTotalPrice,  // 서버에서 계산
        regdate: null,  // 서버에서 설정
        deadline: null,  // 서버에서 설정
        status: 0,  // 서버에서 설정
        quotation_memo: "ASAP",  // 서버에서 설정
        quotationDetails: quotationDetailDTOList
    };

    // List를 JSON 형태로 변환
    var quotationDTOJSON = JSON.stringify(quotationDTO);

    // AJAX를 사용하여 서버에 데이터 전송
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                console.log('Data saved successfully');
            } else {
                console.log('Failed to save data. Status: ' + xhr.status);
            }
        }
    };

    xhr.open('POST', '/plan/save_quotation', true); // 실제 컨트롤러 엔드포인트 URL로 변경
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(quotationDTOJSON);
});





</script>
</body>

</html>
