<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .input-box{
         width:100%;
         display:flex;
         justify-content:end;
         padding:5px;
         box-sizing:border-box;
         margin :15px auto;
         margin-top:0;
         align-items:center;
        }
        .d-inline {
            display: flex;
            align-items: center;
        }
        input{
            padding:5px 10px;
        }
        .search-long{
            border:1px solid #ccc;
            margin-right:10px;
            padding-right: 5px;
        }
        .btn-card {
            text-transform: uppercase;
            font-size: 13px;
            padding: 5px 10px;
            margin: 0px 5px;
            color: #fff;
            border-radius: 5px;
        }
    </style>
</head>
<body>

                            <!-- Page-body start -->
                            <div class="page-body">


                                <!-- Hover table card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <div class="col-lg-12">
                                            <!--<button class="btn btn-card btn-primary btn-success" data-toggle="modal" th:attr="data-target=${'#exampleModal'}"><i class="ti-plus"></i>등록</button>-->

                                            <!-- Modal -->
                                            <div class="modal fade" th:attr="id='exampleModal'"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">협력사 등록</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true" style="font-size:30px;">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group">
                                                                    <table class="table">
                                                                        <tr>
                                                                            <th scope="row">사업자 번호 :</th>
                                                                            <td><input type="text" name="companyId"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">회사명 :</th>
                                                                            <td><input type="text" name="companyName"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">대표자명 :</th>
                                                                            <td><input type="text" name="companyCeo"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">전화번호 :</th>
                                                                            <td><input type="text" name="companyTel"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">e-mail :</th>
                                                                            <td><input type="text" name="companyEmail"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">주소 :</th>
                                                                            <td><input type="text" id="zipcode" name="zipcode" readonly>
                                                                                <input type="button" class="btn btn-card btn-primary btn-success" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th></th>
                                                                            <td>
                                                                                <input type="text" id="address1" name="address1" readonly>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th></th>
                                                                            <td>
                                                                                <input type="text" id="address2" name="address2" placeholder="상세주소(생략가능)">
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary btn-success" th:onclick="insertCompany()">등록</button>
                                                            <button type="button" data-dismiss="modal" class="btn btn-secondary">취소</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal End -->
                                        </div>
                                        <H1>회사검색</H1>

                                        <div class="card-header-right">
                                            <ul class="list-unstyled card-option">
                                                <li><i class="icofont icofont-simple-left "></i></li>
                                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                <li><i class="icofont icofont-error close-card"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="tab-content tabs card-block">
                                        <div class="col-lg-12">
                                            <div class="tab-pane active" id="home1" role="tabpanel">
                                                <div class="pcoded-search-box input-box" >
                                                    <div class="search-long">
                                                        <input type="text" placeholder="회사를 검색하세요" id="searchInput" style="border:none;">
                                                        <p class="search-icon" th:attr="onclick='performSearch()'"
                                                           style="display:inline; margin:0;">
                                                            <i class="ti-search" aria-hidden="true"></i>
                                                        </p>
                                                    </div>
                                                </div>


                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>No.</th>
                                                                <th>회사명</th>
                                                                <th>사업자번호</th>
                                                                <th>대표자</th>
                                                                <th>전화번호</th>
                                                                <th>이메일</th>
                                                                <th>주소</th>

                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="item,stat : ${list}"
                                                                style="cursor:pointer;"
                                                                onclick="outPutRow(this)">
                                                                <th scope="row" th:text="${stat.count}"></th>
                                                                <td th:text="${item.companyName}"></td>
                                                                <td th:text="${item.companyId}"></td>
                                                                <td th:text="${item.ceo}"></td>
                                                                <td th:text="${item.tel}"></td>
                                                                <td th:text="${item.email}"></td>
                                                                <td th:text="${item.address}"
                                                                    th:id="${'address-' + item.companyId}"
                                                                    th:attr="data-company-id=${item.companyId}"></td>

                                                                <!-- Modal -->
                                                                <th class="modal fade" th:attr="id=${'modifyModal'+ item.companyId}"  tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="modifyModalLabel">협력사 정보 수정</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true" style="font-size:30px;">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form>
                                                                                    <div class="form-group">
                                                                                        <table class="table update-table">
                                                                                            <tr>
                                                                                                <th scope="row">사업자 번호 :</th>
                                                                                                <td><input type="text" name="updateId" th:value="${item.companyId}" readonly></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="row">회사명 :</th>
                                                                                                <td><input type="text" name="updateName" th:value="${item.companyName}"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="row">대표자명 :</th>
                                                                                                <td><input type="text" name="updateCeo"  th:value="${item.ceo}"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="row">전화번호 :</th>
                                                                                                <td><input type="text" name="updateTel" th:value="${item.tel}"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="row">e-mail :</th>
                                                                                                <td><input type="text" name="updateEmail" th:value="${item.email}"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="row">주소 :</th>
                                                                                                <td><input type="text" name="updateZipcode"
                                                                                                           th:id="${'updateZipcode-' + item.companyId}"
                                                                                                           th:value="${item.zipcode}" readonly>
                                                                                                    <input type="button" class="btn btn-card btn-primary btn-success"
                                                                                                           th:attr="data-company-id=${item.companyId}"
                                                                                                           th:onclick="upexecDaumPostcode(this)" value="우편번호 찾기"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th></th>
                                                                                                <td>
                                                                                                    <input type="text" name="updateAddress1" class="updateAddress1" readonly
                                                                                                           th:id="${'updateAddress1-' + item.companyId}">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th></th>
                                                                                                <td>
                                                                                                    <input type="text" name="updateAddress2" class="updateAddress2" placeholder="상세주소(생략가능)"
                                                                                                           th:id="${'updateAddress2-' + item.companyId}">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <input type="hidden" class="updateId" th:value="${item.companyId}">
                                                                                <button type="button" class="btn btn-primary modify-btn btn-success">수정</button>
                                                                                <button type="button" data-dismiss="modal" class="btn btn-secondary">취소</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </th>
                                                                <!-- Modal End -->
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>

                                                <nav id="pagination-container" aria-label="Page navigation example" style="padding:20px;">
                                                    <ul class="pagination" style="justify-content: end;">
                                                        <li class="page-item">
                                                            <a class="page-link" href="#" aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                        <li  class="page-item" th:each="pageNumber:${#numbers.sequence(1, list.totalPages)}">
                                                            <a class="page-link pageA"
                                                               th:classappend="${pageNumber == (list.number + 1) ? 'btn-success' : ''}"
                                                               th:href="@{'/plan/company_search?page=' + ${pageNumber - 1} + '&size=10'}"
                                                               th:text="${pageNumber}"></a>
                                                        </li>

                                                        <li class="page-item">
                                                            <a class="page-link" href="#" aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <!-- Hover table card end -->

                            </div>
                            <!-- Page-body end -->



<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="assets/js/modernizr/css-scrollbars.js"></script>
<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    function outPutRow(row) {
      var rowData = [];
      var cells = row.getElementsByTagName("td");
      for (var i = 0; i < cells.length; i++) {
          rowData.push(cells[i].innerText);
      }

      console.log(rowData);

      // 여기서 rowData를 check 함수에 전달하거나 다른 처리를 수행할 수 있습니다.
     window.opener.comapnyInput(rowData);
     window.close();
  }

</script>

</body>
</html>