<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <style>
        table{
         border-collapse: collapse;
         border-spacing: 0
        }
        th{
            background-color: #f6f7fb;
    	color: #000;
        }
        th, td{
            border: 1px solid #ccc;
    	padding: 10px;
        }
        input{
            border:none;
        }
        .container{
            display: flex;
            max-width: 1141px;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
        .btn-display{
         display: flex;
         justify-content: center;
         margin-bottom:20px;
        }
        button{
            margin:10px;
        }
    </style>
</head>

<body>
<!-- Pre-loader start -->

<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" th:include="includes/header :: header"></nav>

        <div class="pcoded-main-container">
            <div th:include="includes/navbar :: navbar"></div>
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-table bg-c-yellow"></i>
                                            <div style="display:flex; align-items:center;">
                                                <h4> 견적서 </h4>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="page-body">

                                <div class="card">
                                    <div class="card-header">
                                        <div class="container">
                                        <h1>견적서</h1>

                                        <table id="estimateTable" width="70%">
                                            <tr>
                                                <th colspan="2">견적서번호</th>
                                                <td colspan="2">
                                                    <input type="text">
                                                </td>
                                                <th colspan="2">회사명<button id="openNewWindowButton">회사검색</button></th>
                                                <td colspan="2">
                                                    <input type="text">
                                                </td>

                                            </tr>
                                            <tr>
                                                <th rowspan="2" colspan="2">주소</th>
                                                <td rowspan="2" colspan="2">
                                                    <input type="text">
                                                </td>
                                                <th rowspan="1" colspan="2">사업자번호</th>
                                                <td colspan="2">
                                                    <input type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th rowspan="1" colspan="2">대표자</th>
                                                <td colspan="2">
                                                    <input type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2" colspan="2">참조</th>
                                                <td colspan="2" rowspan="2">
                                                    <input type="text" placeholder="참조 입력하세요">
                                                </td>
                                                <th colspan="2" rowspan="2">담당자</th>
                                                <th>성명</th>
                                                <td>
                                                    강현규
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>연락처</th>
                                                <td >
                                                    031-548-4664
                                                </td>
                                            </tr>
                                            <!--
                                            <tr>
                                                <th colspan="2">제목</th>
                                                <td colspan="6"></td>
                                            </tr>
                                            -->
                                            <tr>
                                                <th>No</th>
                                                <th colspan="2">품명</th>
                                                <th>규격</th>
                                                <th>수량</th>
                                                <th>단가</th>
                                                <th colspan="2">금액</th>

                                            </tr>
                                            <tr id="headerRow">
                                                <td>1</td>
                                                <td colspan="2">자전거손잡이</td>
                                                <tD>잘잡히는자전거손잡이</tD>
                                                <td>1000</td>
                                                <td>3000</td>
                                                <td colspan="2">3,000,000</td>

                                            </tr>
                                            </table>
                                            <table width="70%">
                                            <tr>
                                                <td colspan="8">
                                                    <button onclick="addRow()">추가하기</button>
                                                </td>
                                            </tr>



                                            <!---------------------------------------------------->
                                            <tr>
                                                <th colspan="3">합계(VAT 포함)</th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <th colspan="2">특기사항</th>
                                                <td colspan="6">
                                                    <ol>
                                                        <li>납기 일자 : <input type="text" ></li>
                                                        <li>기    타 : <input type="text" ></li>
                                                    </ol>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                    </div>
                                    <div class="btn-display">
                                        <button class="btn btn-warning">수정</button>
                                        <button class="btn btn-warning" th:attr="onclick='gotoList()'">목록</button>
                                        <button class="btn btn-warning">삭제</button>
                                    </div>

                                </div>

                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    var cnt = 1
    var $window = $(window);
    var nav = $('.fixed-button');
        $window.scroll(function(){
            if ($window.scrollTop() >= 200) {
             nav.addClass('active');
         }
         else {
             nav.removeClass('active');
         }
     });
    function gotoList(){
        var newUrl = '/shipment/shipmentList?size=10&page=0&category=-1'
        window.location.href= newUrl;
    }
     function gotoEdit(url){
    }
     function remove(url){
    }

    // 회사정보를 찾기 위한 새창열기 기능 시작

     document.getElementById('openNewWindowButton').addEventListener('click', function() {
        var newWindow = window.open('/plan/company_search', '_blank', 'width=600,height=400');
        if (newWindow) {
            newWindow.focus();
        } else {
            alert('팝업이 차단되었습니다. 팝업 차단을 해제하고 다시 시도하세요.');
        }
    });

    // 품목 추가를 위한 행 추가 기능 시작

       function addRow() {

        var table = document.getElementById("estimateTable");
        var row = table.insertRow(-1); // 맨 끝에 새로운 행 추가

         var cell = row.insertCell(0);
         cell.appendChild(document.createTextNode(++cnt));

         cell = row.insertCell(1);
         cell.colSpan = "2";
         var input = document.createElement("input");
            input.setAttribute("type", "text");
            cell.appendChild(input);

         cell = row.insertCell(2);
         cell.colSpan = "1";
         var input = document.createElement("input");
            input.setAttribute("type", "text");
            cell.appendChild(input);

         cell = row.insertCell(3);
         cell.colSpan = "1";
         var input = document.createElement("input");
            input.setAttribute("type", "number");
            cell.appendChild(input);

          cell = row.insertCell(4);
         cell.colSpan = "1";
         var input = document.createElement("input");
            input.setAttribute("type", "number");
            cell.appendChild(input);

          cell = row.insertCell(5);
         cell.colSpan = "2";
         var input = document.createElement("input");
            input.setAttribute("type", "number");
            cell.appendChild(input);


        // 새로운 행에 필요한 셀 추가

    }
</script>
</body>

</html>
