<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>원자재 정보 검색</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <style>
        .btn-card {
            text-transform: uppercase;
            font-size: 13px;
            padding: 5px 10px;
            margin: 0px 10px;
            color: #fff;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div style="display:flex; justify-content:space-between; padding:10px;">
    <h1>원자재 정보 검색</h1>
    <button onclick="window.close()" style="width:30px; height:30px; border:1px solid #ccc; background-color:inherit;">
        <i class="icofont icofont-close"></i>
    </button>
</div>


<div id="companyInfo"></div>
<div class="card">
    <div class="card-header">


        <div class="pcoded-search">
            <span class="searchbar-toggle">  </span>
            <div class="pcoded-search-box ">
                <input type="text" placeholder="원자재명 검색" id="searchmaterialName" th:value="${materialName}" />


                <p class="search-icon"><i class="ti-search" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>
    <div class="card-block table-border-style">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>품목번호</th>
                    <th>판매회사</th>
                    <th>원자재명</th>
                    <th>재고</th>
                    <th>구매가</th>
                    <th>단위</th>
                    <th>카테고리</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="material, itemStat : ${materials}"
                    style="cursor:pointer;"
                    onclick="outPutRow(this)"
                >

                    <td th:text="${material.materialId}"></td>
                    <td th:text="${material.companyName}"></td>
                    <td th:text="${material.materialName}"></td>
                    <td th:text="${material.materialStock}"></td>
                    <td th:text="${material.materialPrice}"></td>
                    <td th:text="${material.materialMeasure}"></td>
                    <td th:each="code:${code}"
                        th:if="${code.codeNum} == ${material.materialCategory}"
                        th:text="${code.codeName}"></td>

                </tr>
                </tbody>
            </table>
            <nav id="pagination-container" aria-label="Page navigation example" style="padding:20px;">
                <ul class="pagination" style="justify-content: end;">
                    <li th:class="${page.hasPrevious() ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:if="${page.number > 0}" th:href="@{'/plan/item_search?page=' + (${page.number} - 1) + '&size=' + 10 + '&bicycleName='+${bicycleName}}" aria-label="Previous">

                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="pageNumber : ${#numbers.sequence(1, page.totalPages)}" class="page-item"
                    >
                        <a th:classappend="${pageNumber == (page.number + 1) ? 'page-link current-page' : 'page-link pageA'}"
                           th:href="@{'/plan/item_search?page=' + (${pageNumber} - 1) + '&size=' + 10 + '&bicycleName='+${bicycleName}}"
                           th:text="${pageNumber}"></a>

                    </li>
                    <li th:class="${page.hasNext() ? 'page-item' : 'page-item disabled'}"
                        th:style="${page.hasNext() ? '' : 'display: none;'}">
                        <a class="page-link" th:if="${page.number != page.totalPages}" th:href="@{'/plan/item_search?page=' + (${page.number} + 1) + '&size=' + 10 + '&bicycleName='+${bicycleName}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>

<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- classie js -->

<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    $(document).ready(function () {
       // 검색 아이콘 클릭 시
       $('.search-icon').on('click', function () {
           // 검색어 입력란의 값을 가져옴

           var materialName = $('#searchmaterialName').val();

               var urlParams = new URLSearchParams(window.location.search);
               var url = '/plan/item_search?page=' + 0 + '&size=' + 10 + '&materialName=' + encodeURIComponent(materialName);

               // 페이지 이동
               window.location.href = url;

       });
   });

   function outPutRow(row) {
       var materialId = row.querySelector("td:nth-child(1)").innerText; // 첫 번째 td의 값 가져오기

         window.opener.check(materialId);
   }



</script>
</body>
</html>
