<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <style>
        .btn-card {
            text-transform: uppercase;
            font-size: 13px;
            padding: 5px 10px;
            margin: 0px 10px;
            color: #fff;
            border-radius: 5px;
        }
        .search-long{
             width:90%;
             display:flex;
             justify-content:center;
             padding:5px;
             box-sizing:border-box;
             margin :15px auto;
             margin-top:0;
             align-items:center;
             border:#ddd 1px solid;
        }
        .pageA{
           background-color:#fff;
           color:#FC6180;
        }
        .btn-warning{
        background-color:#fff;
            color:#FC6180;
        }
        .current-page {
    background-color: #FC6180; /* 배경색을 원하는 색상으로 설정하세요 */
    color: #fff; /* 텍스트 색상을 원하는 색상으로 설정하세요 */
    /* 기타 스타일 속성들을 추가하세요 */
}
    </style>
</head>
<body>

<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" th:include="includes/header :: header"></nav>

        <div class="pcoded-main-container" >
            <div th:include="includes/navbar :: navbar"></div>

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- Page-header start -->
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-table" style="background-color: #FC6180;"></i>
                                            <div class="d-inline">
                                                <h4>원자재</h4>
                                                <span>GURU에서 취급하는 원자재</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="#!">관리</a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="/plan/material">원자재</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Page-header end -->

                            <!-- Page-body start -->
                            <div class="card">
                                <div class="card-header">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs  tabs" role="tablist">

                                        <li th:each="code:${code}" class="nav-item">
                                            <a class="nav-link"
                                               data-toggle="tab"
                                               th:attr="onclick='updateLocation(' + ${code.codeNum == -1 ? -1 : code.codeNum} + ')'"
                                               role="tab"
                                               style="cursor:pointer;"
                                               th:classappend="        ${category == -1 and code.codeNum == -1 ? 'active' : ''} +
                                                                       ${category == 0 and code.codeNum == 0 ? 'active' : ''} +
                                                                       ${category == 1 and code.codeNum == 1 ? 'active' : ''} +
                                                                       ${category == 2 and code.codeNum == 2 ? 'active' : ''} +
                                                                       ${category == 3 and code.codeNum == 3 ? 'active' : ''}"
                                               th:text="${        code.codeNum == -1 ? 'ALL' :
                                                                  code.codeNum == 0 ? '원자재' :
                                                                  code.codeNum == 1 ? '손잡이' :
                                                                  code.codeNum == 2 ? '프레임' :
                                                                  code.codeNum == 3 ? '휠' : ''}">
                                            </a>
                                        </li>

                                    </ul>


                                    <!-- 호버테이블 & 옆에서 기능 더 나오도록
                                    <h5>Hover table</h5>
                                    <span>use class <code>table-hover</code> inside table element</span>
                                    <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                    -->
                                    <div class="pcoded-search">
                                        <span class="searchbar-toggle">  </span>
                                        <div class="pcoded-search-box ">
                                            <input type="text" placeholder="원자재명 검색" id="searchmaterialName" th:value="${materialName}" />


                                            <p class="search-icon"><i class="ti-search" aria-hidden="true"></i></p>
                                        </div>
                                    </div>
                                </div>
                                    <div class="card-block table-border-style">
                                        <a href="/plan/material_insert" class="btn btn-card btn-primary" style="background-color: #FC6180; border-color: #FC6180;">원자재품목생성</a>

                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>품목번호</th>
                                                    <th>판매회사</th>
                                                    <th>원자재명</th>
                                                    <th>스펙</th>
                                                    <th>구매가</th>
                                                    <th>단위</th>
                                                    <th>카테고리</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                        <tr th:each="material : ${materials}"  style="cursor:pointer;"  th:attr="onclick='gotoDetail('+ ${material.materialId}+ ')'">

                                                            <td th:text="${material.materialId}"></td>
                                                             <td th:text="${material.companyName}"></td>
                                                            <td th:text="${material.materialName}"></td>
                                                            <td th:text="${material.materialDescription}"></td>
                                                            <td th:text="${material.materialPrice}"></td>
                                                            <td th:text="${material.materialMeasure}"></td>
                                                            <td th:each="code:${code}"
                                                                th:if="${code.codeNum == material.materialCategory}"
                                                                th:text="${code.codeName}">
                                                            </td>

                                                        </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                <nav id="pagination-container" aria-label="Page navigation example" style="padding:20px;">
                                    <ul class="pagination" style="justify-content: end;">
                                        <li th:class="${page.hasPrevious() ? 'page-item' : 'page-item disabled'}">
                                            <a class="page-link" th:if="${page.number > 0}" th:href="@{'/plan/material?page=' + (${page.number} - 1) + '&size=' + 10 + '&materialName='+${materialName} +'&materialCategory='+${category}}" aria-label="Previous">

                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li th:each="pageNumber : ${#numbers.sequence(1, page.totalPages)}" class="page-item"
                                        >
                                            <a th:classappend="${pageNumber == (page.number + 1) ? 'page-link current-page' : 'page-link pageA'}"
                                               th:href="@{'/plan/material?page=' + (${pageNumber} - 1) + '&size=' + 10 + '&materialName='+${materialName} +'&materialCategory='+${category}}"
                                               th:text="${pageNumber}"></a>

                                        </li>
                                        <li th:class="${page.hasNext() ? 'page-item' : 'page-item disabled'}"
                                            th:style="${page.hasNext() ? '' : 'display: none;'}">
                                            <a class="page-link" th:if="${page.number != page.totalPages}" th:href="@{'/plan/material?page=' + (${page.number} + 1) + '&size=' + 10 + '&materialName='+${materialName} +'&materialCategory='+${category}}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                </div>
                                <!-- Hover table card end -->

                            </div>
                            <!-- Page-body end -->
                        </div>
                    </div>
                    <!-- Main-body end -->

                    <div id="styleSelector">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>

<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- classie js -->

<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    $(document).ready(function () {
        // 검색 아이콘 클릭 시
        $('.search-icon').on('click', function () {
            // 검색어 입력란의 값을 가져옴

            var materialName = $('#searchmaterialName').val();

                var urlParams = new URLSearchParams(window.location.search);
                var category = urlParams.get('materialCategory');
                var url = '/plan/material?page=' + 0 + '&size=' + 10 + '&materialName=' + encodeURIComponent(materialName)+'&materialCategory=' + category;

                // 페이지 이동
                window.location.href = url;

        });
    });

    function updateLocation(category) {
            var newUrl = '/plan/material?size=10&page=0&materialCategory=' + category;

            window.location.href = newUrl;
        }

      function gotoDetail(materialId){
            var newUrl = '/plan/material_detail?materialId=' + materialId;
           window.location.href = newUrl;
        }



</script>
</body>
</html>