<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .input-box{
        width:100%;
        display:flex;
        justify-content:end;
        padding:5px;
        box-sizing:border-box;
        margin :15px auto;
        margin-top:0;
        align-items:center;
       }

          .btn-card {
           text-transform: uppercase;
           font-size: 13px;
           padding: 5px 10px;
           margin: 0px 10px;
           color: #fff;
           border-radius: 5px;
       }


        input{
            padding:5px 10px;
        }

         .search-long{
            border:1px solid #ccc;
            margin-right:10px;
            padding-right: 5px;
        }


       .ellipsis {
               max-width: 200px; /* 최대 너비 설정 */
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
               display: inline-block; /* 텍스트 줄임 처리를 위한 설정 */
           }
        .pageA{
          background-color:#fff;
          color:#FC6180;
       }
       .btn-warning{
       background-color:#fff;
           color:#FC6180;
       }
       .current-page {
           background-color: #FC6180; /* 배경색을 원하는 색상으로 설정하세요 */
           color: #fff; /* 텍스트 색상을 원하는 색상으로 설정하세요 */
           /* 기타 스타일 속성들을 추가하세요 */
       }
    </style>
</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" th:include="includes/header :: header"
             th:with="name=${user.name}, part=${user.part}, roles=${user.roles}"></nav>

        <div class="pcoded-main-container">
            <div th:include="includes/navbar :: navbar"
                 th:with="name=${user.name}, part=${user.part}, roles=${user.roles}"></div>
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <DatePicker displayFormat="yyyy-MM"/>
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-table" style="background-color: #FC6180;"></i>

                                                <div class="d-inline">
                                                <h4>견적서</h4>
                                                <span>협력사로부터 받은 견적서</span>
                                                </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="#!">관리</a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="/plan/quotation">견적서</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="page-body">

                                <div class="card">
                                    <div class="card-header">
                                        <div class="col-lg-12">

                                            <ul class="nav nav-tabs  tabs" role="tablist">

                                                <li th:each="code:${code}" class="nav-item">
                                                    <a class="nav-link"
                                                       data-toggle="tab"
                                                       th:attr="onclick='updateLocation(' + ${code.codeNum} + ')'"
                                                       role="tab"
                                                       style="cursor:pointer;"
                                                       th:classappend="${category == code.codeNum ? 'active' : ''}"
                                                       th:text="${code.codeName}">
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                            <div class="card-header-right">
                                                <ul class="list-unstyled card-option">
                                                    <li><i class="icofont icofont-simple-left "></i></li>
                                                    <li><i class="icofont icofont-maximize full-card"></i></li>
                                                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                    <li><i class="icofont icofont-error close-card"></i></li>
                                                </ul>
                                            </div>

                                            <div class="tab-content tabs card-block">
                                                <div class="col-lg-12">

                                                <div class="tab-pane active" id="home1" role="tabpanel">
                                                    <div class="pcoded-search-box input-box" >
                                                        <div class="search-long">
                                                            <input type="text" placeholder="Bidding검색" id="searchInput" style="border:none;"
                                                            th:value="${keyword}">
                                                            <p class="search-icon" th:attr="onclick='performSearch()'"
                                                               style="display:inline; margin:0;">
                                                                <i class="ti-search" aria-hidden="true"></i>
                                                            </p>
                                                        </div>
                                                        <input class="search-long" type="text" placeholder="choose date" name="daterange" value="" />
                                                    </div>


                                                    <a href="/plan/quotation_insert" class="btn btn-card btn-primary" style="background-color: #FC6180; border-color: #FC6180;">견적서생성</a>
                                                    <div class="card-block table-border-style">


                                                        <div class="table-responsive" id="shipment-container">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>견적서ID</th>
                                                                    <th>Bidding No.</th>
                                                                    <th>제출회사</th>
                                                                    <th>사업자등록번호</th>
                                                                    <th>견적가</th>
                                                                    <th>견적등록일</th>
                                                                    <th>견적유효</th>
                                                                    <th>리드타임</th>
                                                                    <th>거래조건</th>
                                                                    <th>지불조건</th>
                                                                    <th>비고</th>
                                                                    <th>견적서상태</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each = "quotation, itemStat : ${quotations}" style="cursor:pointer;" th:onclick="gotoDetail(this)">
                                                                    <td th:text="${quotation.id}"></td>
                                                                    <td th:text="${quotation.biddingNo}"></td>
                                                                    <!-- <td th:text="${material.materialCode}"></td> -->
                                                                    <td th:text="${quotation.company_name}"></td>
                                                                    <td th:text="${quotation.Company.companyId}"></td>
                                                                    <td th:text="${quotation.quotation_totalprice}"></td>
                                                                    <td th:text="${#temporals.format(quotation.regdate, 'yyyy-MM-dd HH:mm')}"></td>
                                                                    <td th:text="${#temporals.format(quotation.deadline, 'yyyy-MM-dd HH:mm')}"></td>

                                                                    <td th:text="${quotation.leadTime}"></td>
                                                                    <td th:text="${quotation.tradeTerms}"></td>
                                                                    <td th:text="${quotation.paymentTerms}"></td>
                                                                    <td th:class="${quotation.quotation_memo.length() > 50} ? 'ellipsis' : ''">
                                                                    <span th:utext="${quotation.quotation_memo.length() > 50} ? ${#strings.substring(quotation.quotation_memo, 0, 50)} + '...' : ${quotation.quotation_memo}">
                                                                    </span>
                                                                    </td>
                                                                    <td style="color: #009000;font-weight:bold;"
                                                                        th:each="code:${code}"
                                                                        th:if ="${quotation.status == code.codeNum}"
                                                                        th:text="${code.codeName}"
                                                                        th:classappend="${quotation.status == 2} ? 'text-c-pink' : ''"
                                                                    ></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>

                                                    </div>
                                                    <!-- 페이지네이션  -->

                                                   <nav id="pagination-container" aria-label="Page navigation example" style="padding:20px;">
                                                        <ul class="pagination" style="justify-content: end;">
                                                            <li th:class="${page.hasPrevious() ? 'page-item' : 'page-item disabled'}">
                                                                <a class="page-link" th:if="${page.number > 0}" th:href="@{'/plan/quotation?page=' + (${page.number} - 1) + '&size=' + 10 + '&keyword='+${keyword} +'&category='+${category}}" aria-label="Previous">

                                                                    <span aria-hidden="true" style="margin-top: 1px;">&laquo;</span>
                                                                </a>
                                                            </li>
                                                            <li th:each="pageNumber : ${#numbers.sequence(1, page.totalPages)}" class="page-item"
                                                            >
                                                                <a th:classappend="${pageNumber == (page.number + 1) ? 'page-link current-page' : 'page-link pageA'}"
                                                                   th:href="@{'/plan/quotation?page=' + (${pageNumber} - 1) + '&size=' + 10 + '&keyword='+${keyword} +'&category='+${category}+'&startDate='+${startDate}+'&endDate='+${endDate}}"
                                                                   th:text="${pageNumber}"></a>

                                                            </li>
                                                            <li th:class="${page.hasNext() ? 'page-item' : 'page-item disabled'}"
                                                                th:style="${page.hasNext() ? '' : 'display: none;'}">
                                                                <a class="page-link" th:if="${page.number != page.totalPages}" th:href="@{'/plan/quotation?page=' + (${page.number} + 1) + '&size=' + 10 + '&keyword='+${keyword} +'&category='+${category}}" aria-label="Next">
                                                                    <span aria-hidden="true" style="margin-top: 1px;">&raquo;</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>

                                                </div>

                                            </div>



                                    </div>


                                </div>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->

    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
    <!-- am chart -->
    <script src="/pages/widget/amchart/amcharts.min.js"></script>
    <script src="/pages/widget/amchart/serial.min.js"></script>
    <!-- Todo js -->
    <script type="text/javascript " src="/pages/todo/todo.js "></script>
    <!-- Custom js -->
    <script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript " src="/js/SmoothScroll.js"></script>
    <script src="/js/pcoded.min.js"></script>
    <script src="/js/demo-12.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<script th:inline="javascript">
    var category = /*[[${category}]]*/ 'defaultCategory';
    console.log('Category from server:', category);
    var page =  /*[[${pageNumber}]]*/ '0';
</script>

    <script>
        console.log('Category from server:', category);


                   $(function() {
             $('input[name="datetimes"]').daterangepicker({
               timePicker: true,
               startDate: moment().startOf('hour'),
               endDate: moment().startOf('hour').add(32, 'hour'),
               locale: {
                 format: 'M/DD hh:mm A'
               }
             });
           });

                   var $window = $(window);
                   var nav = $('.fixed-button');
                       $window.scroll(function(){
                           if ($window.scrollTop() >= 200) {
                            nav.addClass('active');
                        }
                        else {
                            nav.removeClass('active');
                        }
                    });


                   function updateLocation(category) {
                       var newUrl = '/plan/quotation?size=10&page=0&category=' + category;

                       window.location.href = newUrl;
                   }

                   function performSearch(){
                       var searchValue = document.getElementById('searchInput').value;
                       var encodedSearchValue = encodeURIComponent(searchValue);

                       console.log(encodedSearchValue);
                       console.log('Category:', category);

                       window.location.href = '/plan/quotation?size=10&page=0&category='+ category +'&keyword=' + encodedSearchValue ;
                   }

                    document.getElementById('searchInput').addEventListener('keyup', function (event) {
                       if (event.key === 'Enter') {
                           performSearch();
                       }
                   });

                   function gotoDetail(element){
                   var quotationId = element.cells[0].innerText;


                  var newUrl = '/plan/quotationDetail?quotationId=' + quotationId;
                  window.location.href = newUrl;

                 }


                   $(document).ready(function(){
                       $('input[name="daterange"]').daterangepicker({
                       timePicker: true,
                       startDate: moment().startOf('hour'),
                       endDate: moment().endOf('hour'),
                       locale: {
                           format: 'YYYY-MM-DD HH:mm:ss'
                       }
                  })


                  $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
                       var startDate = picker.startDate.format('YYYY-MM-DDTHH:mm:ss');
                       var endDate = picker.endDate.format('YYYY-MM-DDTHH:mm:ss');
                       var urlParams = new URLSearchParams(window.location.search);
                       var category = urlParams.get('processStatus');

                       var size = urlParams.get('size');
                       var search = $('#searchInput').val();
                       if(category === null){
                           category = -1;
                       }
                       var newUrl =  "/plan/quotation?page=" + 0 +
                                       "&size=" + 10 +
                                       "&category=" + category +
                                       "&keyword=" + encodeURIComponent(search) +
                                       "&startDate=" + startDate +
                                       "&endDate=" + endDate;
                       $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                     window.location.href = newUrl;
                     });

                     $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
                         $(this).val('');
                     });
                   })



    </script>
</body>

</html>
