<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <style>
        .btn-card {
            text-transform: uppercase;
            font-size: 13px;
            padding: 5px 10px;
            margin: 0px 10px;
            color: #fff;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" th:include="includes/header :: header"></nav>

        <div class="pcoded-main-container" >
            <div th:include="includes/navbar :: navbar"></div>

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- Page-header start -->
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-table bg-c-blue"></i>
                                            <div class="d-inline">
                                                <h4>생산계획서 목록</h4>
                                                <span>출고처리가 안된 생산계획서들에 대해서 출고처리를 진행하는 페이지입니다.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="#!">출고</a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="/export/producePlanerList">생산계획서</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Page-header end -->

                            <!-- Page-body start -->
                            <div class="page-body">

                                <!-- Hover table card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Hover table</h5>
                                        <span>use class <code>table-hover</code> inside table element</span>
                                        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                        <div class="pcoded-search">
                                            <span class="searchbar-toggle">  </span>
                                            <div class="pcoded-search-box ">
                                                <input type="text" placeholder="Search">
                                                <p class="search-icon"><i class="ti-search" aria-hidden="true"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>생산번호</th>
                                                    <th>자전거이름</th>
                                                    <th>생산계획수량</th>
                                                    <th>원자재이름</th>
                                                    <th>필요수량</th>
                                                    <th>마감일</th>
                                                    <th>진행상태</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="item : ${producePlanerList}" th:onclick="/export/producePlanerDetail">
                                                    <th scope="row" th:text="${item.producePlanerId}"></th>
                                                    <td th:text="${item.bicycleName}"></td>
                                                    <td th:text="${item.produceBicycleCnt}"></td>
                                                    <td th:text="${item.materialName}"></td>
                                                    <td th:text="${item.produceMaterialCnt}"></td>
                                                    <td th:text="${item.producePlanerDeadline}"></td>
                                                    <td th:text="${item.producePlanerStatus}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Hover table card end -->

                            </div>
                            <!-- Page-body end -->
                        </div>
                    </div>
                    <!-- Main-body end -->

                    <div id="styleSelector">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="assets/js/modernizr/css-scrollbars.js"></script>
<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- classie js -->
<script type="text/javascript" src="assets/js/classie/classie.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

</body>
</html>