<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <style>
        .btn-card {
            text-transform: uppercase;
            font-size: 13px;
            padding: 5px 10px;
            margin: 0px 10px;
            color: #fff;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" th:include="includes/header :: header"></nav>

        <div class="pcoded-main-container" >
            <div th:include="includes/navbar :: navbar"></div>

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- Page-header start -->
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-table bg-c-brown"></i>
                                            <div class="d-inline">
                                                <h4>생산계획서 목록</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Page-header end -->

                            <!-- Page-body start -->
                            <div class="page-body">

                                <!-- Hover table card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <div class="col-lg-12">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs  tabs" role="tablist">

                                                <li th:each="code, index :${code}" class="nav-item">
                                                    <a class="nav-link"
                                                       data-toggle="tab"
                                                       th:attr="onclick='updateLocation(' + ${code.codeNum} + ')'"
                                                       role="tab"
                                                       style="cursor:pointer;"
                                                       th:classappend="${index == code.codeNum ? 'active' : ''}"
                                                       th:text="${code.codeName}">
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content tabs card-block">
                                                <div class="pcoded-search-box search-long" >

                                                    <input type="text" placeholder="Search" id="searchInput"
                                                           style="width:95%; border:none; margin-right:5px; ">
                                                    <p class="search-icon" th:attr="onclick='performSearch()'" style="display:inline; margin:0;">
                                                        <i class="ti-search" aria-hidden="true"></i>
                                                    </p>
                                                </div>
                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive" id="shipment-container">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>생산번호</th>
                                                                <th>자전거이름</th>
                                                                <th>생산계획수량</th>
                                                                <th>마감일</th>
                                                                <th colspan="2">진행상태</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="item, index : ${producePlanerList}" onclick="handleRowClick(this)">
                                                                <th scope="row" th:text="${item.producePlanerId}"></th>
                                                                <td th:text="${item.bicycleName}"></td>
                                                                <td th:text="${item.produceBicycleCnt}"></td>
                                                                <td th:text="${item.producePlanerDeadline}"></td>
                                                                <td th:text="${codeList[index.index].codeName}"></td>
                                                                <td>
                                                                    <button type="button" class="btn btn-card btn-brown" onclick="handleButtonClick(event)" th:if="${codeList[index.index].codeNum == 2}">출고처리</button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Hover table card end -->

                            </div>
                            <!-- Page-body end -->
                        </div>
                    </div>
                    <!-- Main-body end -->

                    <div id="styleSelector">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="assets/js/modernizr/css-scrollbars.js"></script>
<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- classie js -->
<script type="text/javascript" src="assets/js/classie/classie.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    function handleRowClick(button) {
        var row = $(button).closest('tr'); // 눌린 버튼이 속한 행 가져오기
        var producePlanerId = row.find('th:eq(0)').text();
        location.href = '/export/producePlanerDetail?producePlanerId=' + producePlanerId;
    }

    function handleButtonClick(event) {
        // 이벤트 전파(stopPropagation)를 사용하여 상위 요소의 클릭 이벤트를 막음
        event.stopPropagation();

        // 클릭된 엘리먼트에서 데이터 추출
        var producePlanerId = $(event.target).closest('tr').find('th:eq(0)').text();

        // 서버로 데이터 전송 (Ajax 사용 예시)
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/export/listExport', true);
        xhr.setRequestHeader('Content-Type', 'application/json');


        // 서버로 전송할 데이터
        const data = {
            producePlanerId: producePlanerId
            // 추가적으로 필요한 데이터가 있다면 여기에 추가
        };

        xhr.send(JSON.stringify(data));

        // Ajax 요청 완료 후 실행할 코드 (예시: 페이지 리로드)
        xhr.onload = function () {
            if (xhr.status === 200) {
                // 성공적으로 서버와 통신한 경우, 여기에 추가적으로 처리할 코드 작성
                // 예: 페이지 리로드
                location.reload();
            } else {
                // 서버와 통신 실패 시, 여기에 추가적으로 처리할 코드 작성
                console.error('Failed to send data to the server.');
            }
        };
    }

    function updateLocation(category) {
        var newUrl = '/export/producePlanerDetail?size=10&page=0&category=' + category;

        window.location.href = newUrl;
    }
</script>
</body>
</html>