<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <style>
        .card .card-header span {
            color: #919aa3;
            display: block;
            font-size: 13px;
            margin-top: 1px;
        }
        .btn-card {
            text-transform: uppercase;
            font-size: 13px;
            padding: 5px 10px;
            margin: 0px 10px;
            color: #fff;
            border-radius: 5px;
        }
        .input-box{
             width:100%;
             display:flex;
             justify-content:end;
             padding:5px;
             box-sizing:border-box;
             margin :15px auto;
             margin-top:0;
             align-items:center;
        }
        .search-long{
            border:1px solid #ccc;
            margin-right:10px;

        }
        .pageA{
            color:#fff;
        }
        .btn-warning{
            color:#fff;
        }
        .current-page {
            color: #ab7967;
        }
        input{
            padding:5px 10px;
        }
        p{
            padding:5px 10px;
            cursor: pointer;
        }
        .disabled{
            color: rgba(170, 170, 170);
        }
    </style>
</head>
<body>

<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" th:include="includes/header :: header" th:with="name=${user.name}, part=${user.part}, roles=${user.roles}"></nav>

        <div class="pcoded-main-container" >
            <div th:include="includes/navbar :: navbar" th:with="name=${user.name}, part=${user.part}, roles=${user.roles}"></div>

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- Page-header start -->
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-table bg-c-brown"></i>
                                            <div class="d-inline">
                                                <h4 th:text="'Production No.' + ${producePlanerList[0].producePlanerId}"></h4>
                                                <h4 th:text="'생산계획 : [' + ${producePlanerList[0].bicycleName} + '] ' + ${producePlanerList[0].produceBicycleCnt} + '대'"></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="#!">출고</a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="/export/producePlanerList">생산계획서:[미출고]</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Page-header end -->

                            <!-- Page-body start -->
                            <div class="page-body">

                                <!-- Hover table card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <div class="col-lg-12">
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <form action="/export/producePlanerDetail" method="post">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>원자재이름</th>
                                                                <th>재고수량</th>
                                                                <th>필요수량</th>
                                                                <th>마감일</th>
                                                                <th colspan="2">진행상태</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="item, index : ${producePlanerList}" th:class="${item.producePlanerStatus != 0 ? 'disabled' : ''}">
                                                                <input type="hidden" name="producePlanerId" th:value="${producePlanerList[index.index].producePlanerId}">
                                                                <input type="hidden" name="bicycleId" th:value="${producePlanerList[index.index].bicycleId}">
                                                                <input type="hidden" name="materialId" th:value="${producePlanerList[index.index].materialId}">
                                                                <input type="hidden" name="bicycleName" th:value="${producePlanerList[index.index].bicycleName}">
                                                                <input type="hidden" name="produceBicycleCnt" th:value="${producePlanerList[index.index].produceBicycleCnt}">
                                                                <input type="hidden" name="produceMaterialCnt" th:value="${producePlanerList[index.index].produceMaterialCnt}">
                                                                <input type="hidden" name="producePlanerStatus" th:value="${producePlanerList[index.index].producePlanerStatus}">
                                                                <th th:text="${item.materialName}"></th>
                                                                <td th:text="${materialList[index.index].materialStock} +'('+ ${materialList[index.index].materialMeasure}+')'"></td>
                                                                <td th:text="${item.produceMaterialCnt} +'('+ ${materialList[index.index].materialMeasure} + ')'"></td>
                                                                <td th:text="${item.producePlanerDeadline}"></td>
                                                                <td th:text="${codeList[index.index].codeName}"></td>
                                                                <td>
                                                                    <button type="button" class="btn btn-card btn-brown" onclick="submitRowData(this)" th:if="${producePlanerList[index.index].producePlanerStatus == 0}">불출</button>
                                                                    <button type="button" class="btn btn-card btn-danger" onclick="submitRowData(this)" th:if="${producePlanerList[index.index].producePlanerStatus != 0}">불출 취소</button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-header-right">
                                            <ul class="list-unstyled card-option">
                                                <li><i class="icofont icofont-simple-left "></i></li>
                                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                <li><i class="icofont icofont-error close-card"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Hover table card end -->
                            </div>
                            <!-- Page-body end -->
                        </div>
                    </div>
                    <!-- Main-body end -->
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script>
    function submitRowData(button) {
        var row = $(button).closest('tr'); // 눌린 버튼이 속한 행 가져오기
        // Hidden inputs에서 데이터 가져오기
        var producePlanerId = row.find('input[name="producePlanerId"]').val();
        var bicycleId = row.find('input[name="bicycleId"]').val();
        var materialId = row.find('input[name="materialId"]').val();
        var bicycleName = row.find('input[name="bicycleName"]').val();
        var produceBicycleCnt = row.find('input[name="produceBicycleCnt"]').val();
        var produceMaterialCnt = row.find('input[name="produceMaterialCnt"]').val();
        var producePlanerStatus = row.find('input[name="producePlanerStatus"]').val();
        // 나머지 데이터 가져오기
        var materialName = row.find('th:eq(0)').text();
        var producePlanerDeadline = row.find('td:eq(2)').text();

        // 데이터를 서버로 전송 (예: AJAX를 사용하여 비동기적으로 전송)
        $.ajax({
            type: 'POST',
            url: '/export/producePlanerDetail',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({
                producePlanerId: producePlanerId,
                bicycleId: bicycleId,
                bicycleName: bicycleName,
                produceBicycleCnt: produceBicycleCnt,
                materialId: materialId,
                materialName: materialName,
                produceMaterialCnt: produceMaterialCnt,
                producePlanerDeadline: producePlanerDeadline,
                producePlanerStatus: producePlanerStatus
            }),
            dataType: 'json', // 변경된 부분
            success: function(response) {
                // 서버로부터의 응답 처리
                console.log(response);
                // 성공 시 페이지 새로고침
                location.reload();
            },
            error: function (xhr, status, error){
                if(xhr.status === 403){
                    var message = xhr.responseText;
                    Swal.fire({
                      title: "Warning",
                      text: message,
                      icon: "error",
                      showConfirmButton: false,
                      timer: 1500
                    });
                } else{
                    console.error("Error: " , status, error);
                    location.reload();
                }
            }

        });
    }

    function cancelRowData(button) {
        var row = $(button).closest('tr'); // 눌린 버튼이 속한 행 가져오기
        // Hidden inputs에서 데이터 가져오기
        var producePlanerId = row.find('input[name="producePlanerId"]').val();
        var bicycleId = row.find('input[name="bicycleId"]').val();
        var materialId = row.find('input[name="materialId"]').val();
        var bicycleName = row.find('input[name="bicycleName"]').val();
        // 나머지 데이터 가져오기
        var materialName = row.find('th:eq(0)').text();
        var produceMaterialCnt = row.find('td:eq(0)').text();

        // 데이터를 서버로 전송 (예: AJAX를 사용하여 비동기적으로 전송)
        $.ajax({
            type: 'POST',
            url: '/export/cancelExport',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({
                producePlanerId: producePlanerId,
                bicycleId: bicycleId,
                materialId: materialId,
                bicycleName: bicycleName,
                materialName: materialName,
                exportCnt: produceMaterialCnt
            }),
            dataType: 'json', // 변경된 부분
            success: function(response) {
                // 서버로부터의 응답 처리
                console.log(response);
                // 성공 시 페이지 이동
                location.reload();
            },
            error: function (xhr, status, error){
                if(xhr.status === 403){
                    var message = xhr.responseText;
                    Swal.fire({
                      title: "Warning",
                      text: message,
                      icon: "error",
                      showConfirmButton: false,
                      timer: 1500
                    });
                } else{
                    console.error("Error: " , status, error);
                }
            }
        });
    }
</script>
</body>
</html>