<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <style>
        .btn-card {
          text-transform: uppercase;
          font-size: 13px;
          padding: 5px 10px;
          margin: 0px 10px;
          color: #fff;
          border-radius: 5px;
      }
       table{
        border-collapse: collapse;
        border-spacing: 0
       }
       th{
           background-color: #f6f7fb;
       color: #000;
       }
       th, td{
           border: 1px solid #ccc;
       padding: 10px;
       }
       input{
           border:none;
       }
       .container{
           display: flex;
           max-width: 1141px;
           flex-flow: column;
           justify-content: center;
           align-items: center;
       }
       .btn-display{
        display: flex;
        justify-content: center;
        margin-bottom:20px;
       }
       button{
           margin:10px;
       }
        textarea {
       border: none;
       resize: none;
   }
    </style>
</head>

<body>
<!-- Pre-loader start -->

<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" th:include="includes/header :: header"
             th:with="name=${user.name}, part=${user.part}, roles=${user.roles}"></nav>

        <div class="pcoded-main-container">
            <div th:include="includes/navbar :: navbar"
                 th:with="name=${user.name}, part=${user.part}, roles=${user.roles}"></div>
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-table bg-c-brown"></i>
                                            <div class="d-inline">
                                                <h4>생산계획서</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="/export/producePlanerList">생산계획서:[미출고]</a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="/export/producePlanerRegister">생산계획서:[등록]</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-body">
                                <div class="card">
                                    <form>
                                        <div class="card-header">
                                            <div class="container">
                                                <h1>생산계획서</h1>
                                                <table id="estimateTable" width="90%" >
                                                    <tr>
                                                        <th colspan="2">생산계획서 번호</th>
                                                        <td colspan="3">
                                                            <input type="text" th:value="${producePlanerId}" id="producePlanerId" readonly>
                                                        </td>
                                                        <th colspan="2">생산목표 상품 <input type="button" class="btn-brown" onclick="selectBicycle()" value="상품검색"/></th>
                                                        <td colspan="3">
                                                            <input type="text" id="bicycle_name" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th rowspan="2" colspan="2">생산 목표일</th>
                                                        <td colspan="3" rowspan="2">
                                                            <input type="date" id="deadline">
                                                        </td>
                                                        <th rowspan="1" colspan="2">상품 번호</th>
                                                        <td colspan="3">
                                                            <input type="text" id="bicycle_id" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th rowspan="1" colspan="2">생산목표 수량</th>
                                                        <td colspan="3">
                                                            <input type="text" id="produceBicycleCnt">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>원자재번호</th>
                                                        <th colspan="2">원자재명</th>
                                                        <th>1/개당수량</th>
                                                        <th>총필요수량</th>
                                                        <th>1/개당단가</th>
                                                        <th>총단가</th>
                                                        <th colspan="2">원자재선택</th>
                                                    </tr>
                                                    <tbody id="tableBody">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="btn-display">
                                            <input type="button" id="saveButton" class="btn btn-brown" style="margin: 5px;" value="등록"/>
                                            <input type="button" th:attr="onclick='gotoList()'" class="btn btn-brown" style="margin: 5px;" value="목록"/>
                                            <input type="reset" onclick="populateTable(0)" class="btn btn-brown" style="margin: 5px;"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var saveButton = document.getElementById('saveButton');
        if (saveButton) {
            saveButton.addEventListener('click', function(event) {
                // 상품이 선택되었는지 확인
                var bicycleId = document.getElementById('bicycle_id').value;
                if (bicycleId.trim() === '') {
                    alert('상품을 선택해주세요.');
                    event.preventDefault(); // 등록 이벤트를 중단
                    return;
                }

                // 생산목표일이 입력되었는지 확인
                var deadline = document.getElementById('deadline').value;
                if (deadline.trim() === '') {
                    alert('생산목표일을 입력해주세요.');
                    event.preventDefault(); // 등록 이벤트를 중단
                    return;
                }

                // 생산목표 수량이 입력되었는지 확인
                var produceBicycleCnt = document.getElementById('produceBicycleCnt').value;
                if (produceBicycleCnt.trim() === '') {
                    alert('생산목표 수량을 입력해주세요.');
                    event.preventDefault(); // 등록 이벤트를 중단
                    return;
                }

                // 원자재 테이블에서 원자재가 선택되었는지 확인
                var tableRows = document.querySelectorAll('#tableBody tr');
                var dataList = []; // 행 데이터를 담을 배열
                for (var i = 0; i < tableRows.length; i++) {
                    var materialId = tableRows[i].cells[1].textContent;
                    if (materialId.trim() === '') {
                        alert('원자재를 선택해주세요.');
                        event.preventDefault(); // 등록 이벤트를 중단
                        return;
                    } else {
                        var rowData = {
                            producePlanerId: document.getElementById('producePlanerId').value,
                            bicycleId: document.getElementById('bicycle_id').value,
                            bicycleName: document.getElementById('bicycle_name').value,
                            produceBicycleCnt: document.getElementById('produceBicycleCnt').value,
                            materialId: tableRows[i].cells[1].textContent,
                            materialName: tableRows[i].cells[2].textContent,
                            produceMaterialCnt: tableRows[i].cells[4].textContent,
                            producePlanerDeadline: formatDateForServer(document.getElementById('deadline').value),
                            producePlanerStatus: 0
                            // 필요한 데이터가 있다면 추가로 가져오세요.
                        };
                        dataList.push(rowData);
                    }
                }

                // dataList를 JSON 형식으로 변환
                var jsonData = JSON.stringify(dataList);

                // POST 요청으로 데이터 전송
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/export/producePlanerRegister', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            // 성공적으로 처리된 경우
                            alert('생산계획서가 성공적으로 등록되었습니다.');
                            gotoList();
                        } else if (xhr.status === 403) {
                            var message = xhr.responseText;
                            Swal.fire({
                              title: "Warning",
                              text: message,
                              icon: "error",
                              showConfirmButton: false,
                              timer: 1500
                            });
                        } else {
                            // 오류 발생 시 처리
                            alert('오류가 발생했습니다.');
                        }
                    }
                };
                xhr.send(jsonData);

                // 폼 전송을 중단
                event.preventDefault();
            });
        }
    });

    // 클라이언트 측에서 선택한 날짜를 LocalDateTime 형식으로 변환하여 반환하는 함수
    function formatDateForServer(dateString) {
        var date = new Date(dateString);
        var year = date.getFullYear();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        return year + '-' + month + '-' + day + 'T00:00:00';
    }

    function gotoList(){
        var url = '/export/producePlanerList';
        window.location.href = url;
    }

    function selectBicycle() {
        var newWindow = window.open('/export/bicycleSearch', '_blank', 'width=1300,height=800');
        if (newWindow) {
            newWindow.focus();
        } else {
            alert('팝업이 차단되었습니다. 팝업 차단을 해제하고 다시 시도하세요.');
        }
    }

    function bicycleInput(rowData) {
        // 예: 각 ID에 해당하는 요소를 찾아서 값 채우기
        document.getElementById("bicycle_id").value = rowData[0];
        document.getElementById("bicycle_name").value = rowData[1];
        document.getElementById("produceBicycleCnt").value = '';

        // AJAX를 통해 bicycleId를 서버로 전송하여 레시피 목록을 가져옴
        bicycleId = document.getElementById("bicycle_id").value;
        var xhr = new XMLHttpRequest();
        var url = '/export/getRecipeList?bicycleId=' + bicycleId; // 컨트롤러 엔드포인트 URL로 변경

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var recipeList = JSON.parse(xhr.responseText);
                    populateTable(recipeList);
                } else {
                    console.error('Request failed. Status: ' + xhr.status);
                }
            }
        };
        xhr.open('GET', url, true);
        xhr.send();
    }

    function materialInput(rowData, rowIndex) {
        var tableBody = document.getElementById('tableBody'); // 테이블의 tbody 요소를 가져옴
        var rows = tableBody.getElementsByTagName('tr'); // tbody 내의 모든 tr 요소를 가져옴

        // 인덱스에 해당하는 행 찾기
        var targetRow = rows[rowIndex-4];

        // 행이 존재하는지 확인
        if (targetRow) {
            // 해당 행의 각 셀에 데이터 입력
            if (targetRow.cells.length > 1) {
                targetRow.cells[1].textContent = rowData[0];
            }
            if (targetRow.cells.length > 5) {
                targetRow.cells[5].textContent = rowData[5];
            }
            // 개당 단가 입력 후 총단가 계산
            calculateTotalPrice(targetRow);
        } else {
            console.error("Target row is undefined or out of bounds.");
            console.error("rowData : " + rowData);
            console.error("rowIndex : " + rowIndex);
            console.error("rows[rowIndex] : " + rows[rowIndex]);
        }
    }

    // 총단가 계산 함수
    function calculateTotalPrice(targetRow) {
        // 생산목표 수량 가져오기
        var produceBicycleCntInput = document.getElementById('produceBicycleCnt');
        if (!produceBicycleCntInput) {
            console.error("Produce bicycle count input not found.");
            return;
        }
        var produceBicycleCnt = parseInt(produceBicycleCntInput.value);
        if (isNaN(produceBicycleCnt)) {
            console.error("Invalid produce bicycle count:", produceBicycleCntInput.value);
            return;
        }

        // 개당 수량, 개당 단가 가져오기
        var cellSpec = targetRow.cells[3];
        var cellQuantity = targetRow.cells[4];
        var cellUnitPrice = targetRow.cells[5];
        var extractedUnitPrice = extractNumberFromText(cellUnitPrice.textContent);

        // 총필요수량 계산
        var totalQuantity = produceBicycleCnt * parseInt(cellSpec.textContent);
        cellQuantity.textContent = totalQuantity;

        // 총단가 계산 및 표시
        var totalAmount = extractedUnitPrice * totalQuantity;
        var cellTotalPrice = targetRow.cells[6];
        cellTotalPrice.innerHTML = '&#8361; ' + totalAmount.toLocaleString();
    }

    //레시피선택
    function choiceRecipe() {
        var newWindow = window.open('/export/choiceRecipe', '_blank', 'width=800,height=800');
        if (newWindow) {
            newWindow.focus();
        } else {
            alert('팝업이 차단되었습니다. 팝업 차단을 해제하고 다시 시도하세요.');
        }
    }

    // 테이블에 레시피 목록을 입력하는 함수
    function populateTable(recipeList) {
        var tableBody = document.getElementById('tableBody');
        tableBody.innerHTML = ''; // 기존 내용 지우기

        for (var i = 0; i < recipeList.length; i++) {
            var recipe = recipeList[i];
            var row = tableBody.insertRow(-1);

            // 각 셀에 데이터 입력
            var cellNo = row.insertCell(0);
            cellNo.textContent = i + 1;

            var cellPID = row.insertCell(1);

            var cellName = row.insertCell(2);
            cellName.setAttribute('colspan', '2');
            cellName.textContent = recipe.materialName;

            var cellSpec = row.insertCell(3);
            cellSpec.textContent = recipe.recipeCnt;

            var cellQuantity = row.insertCell(4);

            var cellUnit = row.insertCell(5);

            var cellPrice = row.insertCell(6);

            var cellAmount = row.insertCell(7);
            cellAmount.setAttribute('colspan', '2');

            // 버튼 생성 및 추가
            var button = document.createElement('input');
            button.setAttribute('type', 'button');
            button.setAttribute('value', '원자재 선택');
            button.classList.add('recipeButton'); // 부트스트랩 버튼 스타일을 적용하기 위해 클래스 추가
            button.classList.add('btn-brown'); // 부트스트랩 버튼 스타일을 적용하기 위해 클래스 추가
            button.addEventListener('click', function() {
                var rowIndex = this.parentNode.parentNode.rowIndex; // 클릭된 버튼이 속한 행의 인덱스 가져오기
                var materialName = this.parentNode.parentNode.cells[2].textContent; // 해당 행의 materialName 가져오기
                loadMatchingData(rowIndex, materialName); // 일치하는 데이터를 불러오는 함수 호출
            });
            cellAmount.appendChild(button); // 버튼을 마지막 셀에 추가

            // 생산목표 수량 입력 시 이벤트 처리
            var produceBicycleCntInput = document.getElementById('produceBicycleCnt');
            if (produceBicycleCntInput) {
                produceBicycleCntInput.addEventListener('input', function() {
                    var value = parseInt(this.value); // 입력된 값을 정수형으로 변환
                    if (!isNaN(value)) {
                        var rows = document.querySelectorAll('#tableBody tr');
                        rows.forEach(function(row) {
                            var cellSpec = row.cells[3];
                            var cellQuantity = row.cells[4];
                            cellQuantity.textContent = value * parseInt(cellSpec.textContent); // 생산목표 수량 * 개당 수량 계산하여 입력

                            var cellUnitPrice = row.cells[5].textContent; // 개당 단가 가져오기
                            var extractedUnitPrice = extractNumberFromText(cellUnitPrice); //해당 텍스트의 숫자데이터만 가져옴
                            var totalQuantity = parseInt(cellQuantity.textContent); // 총 필요 수량 가져오기
                            var totalAmount = parseInt(extractedUnitPrice) * totalQuantity; // 총 단가 계산
                            row.cells[6].innerHTML = '&#8361; ' + totalAmount.toLocaleString(); // 총 단가 입력
                        });
                    }
                });
            }
        }
    }

    // 일치하는 데이터를 불러오는 함수
    function loadMatchingData(rowIndex, materialName) {
        var newWindow = window.open('/export/materialSearch?keyword=' + materialName + '&rowIndex=' + rowIndex, '_blank', 'width=1300,height=800');
        if (newWindow) {
            newWindow.focus();
        } else {
            alert('팝업이 차단되었습니다. 팝업 차단을 해제하고 다시 시도하세요.');
        }
        // AJAX를 통해 materialName을 서버로 전송하여 일치하는 데이터를 가져오는 로직 작성
        console.log('일치하는 데이터를 불러옵니다:', materialName);
    }

    // HTML 요소에서 텍스트 내용을 가져와서 숫자 값만 추출하는 함수
    function extractNumberFromText(text) {
        // 숫자와 쉼표(,)를 제외한 모든 문자를 제거하고 숫자만 남깁니다.
        var numberOnly = text.replace(/[^\d,]/g, '');

        // 쉼표(,)를 제거하고 숫자 문자열을 정수로 변환하여 반환합니다.
        return parseInt(numberOnly.replace(/,/g, ''));
    }
</script>
</body>
</html>
