<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <style>
        .btn-card {
            text-transform: uppercase;
            font-size: 13px;
            padding: 5px 10px;
            margin: 0px 5px;
            color: #fff;
            border-radius: 5px;
        }
        .d-inline {
            display: flex;
            align-items: center;
        }
        .searched {
            margin-top: 20px!important;
        }
    </style>
</head>
<body>

<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" th:include="includes/header :: header"></nav>

        <div class="pcoded-main-container" >
            <div th:include="includes/navbar :: navbar"></div>

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- Page-header start -->
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-table bg-c-green"></i>
                                            <div class="d-inline">
                                                <h4>발주 목록</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a th:href="@{http://localhost:8080}">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="#!">구매</a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="/purchase/order">발주</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Page-header end -->

                            <!-- Page-body start -->
                            <div class="page-body">
                                <!-- Hover table card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <div class="col-lg-12">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs  tabs" role="tablist">
                                                <li th:each="code:${code}" class="nav-item">
                                                    <a class="nav-link"
                                                       data-toggle="tab"
                                                       th:attr="onclick='updateLocation(' + ${code.codeNum == 0 ? -1 : code.codeNum} + ')'"
                                                       role="tab"
                                                       style="cursor:pointer;"
                                                       th:classappend="${category == -1 and code.codeNum == 0 ? 'active' : ''} +
                                                                           ${category == 1 and code.codeNum == 1 ? 'active' : ''} +
                                                                           ${category == 2 and code.codeNum == 2 ? 'active' : ''} +
                                                                           ${category == 3 and code.codeNum == 3 ? 'active' : ''}"
                                                       th:text="${code.codeNum == 0 ? '전체' :
                                                                      code.codeNum == 1 ? '미발주' :
                                                                      code.codeNum == 2 ? '발주 완료' :
                                                                      code.codeNum == 3 ? '발주 마감' : ''}">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>
                                        </ul>
                                        </div>
                                    </div>

                                    <!-- Tab panes -->
                                    <div class="tab-content tabs card-block">
                                        <div class="col-lg-12">
                                            <div class="tab-pane active" id="home1" role="tabpanel">
                                                <div class="pcoded-search-box search-long" >
                                                    <input type="text" placeholder="Search" id="searchInput"
                                                           style="width:95%; border:none; margin-right:5px; ">
                                                    <p class="search-icon" th:attr="onclick='performSearch()'" style="display:inline; margin:0;">
                                                        <i class="ti-search" aria-hidden="true"></i>
                                                    </p>
                                                </div>

                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive" id="shipment-container">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>주문번호</th>
                                                                <th th:if="${category == -1}">상태</th>
                                                                <th>협력사</th>
                                                                <th>품목명</th>
                                                                <th>총액</th>
                                                                <th>납기</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            <tr style="cursor:pointer;" th:attr="onclick='gotoDetail('+ ${list.id}+ ')'" th:each="list : ${list}">
                                                                <th th:text="${list.id}" class="data-id" th:attr="data-id=${list.id}"></th>
                                                                <th th:each="code:${code}"
                                                                    th:if="${code.codeNum eq list.status and category eq -1}"
                                                                    th:text="${code.codeName}"></th>
                                                                <th th:text="${list.companyName}"></th>
                                                                <th th:text="|${list.materialName} 외..|"></th>
                                                                <td th:text="${list.totalprice} + &#8361;"></td>
                                                                <td th:text="${#temporals.format(list.deadline, 'yyyy-MM-dd')}"></td>
                                                            </tr>

                                                            </tbody>
                                                        </table>

                                                    </div>

                                                </div>

                                                <nav id="pagination-container" aria-label="Page navigation example" style="padding:20px;">
                                                    <ul class="pagination" style="justify-content: end;">
                                                        <li class="page-item">
                                                            <a class="page-link" href="#" aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                        <li  class="page-item" th:each="pageNumber:${#numbers.sequence(1, list.totalPages)}">
                                                            <a class="page-link pageA"
                                                               th:classappend="${pageNumber == (list.number + 1) ? 'btn-success' : ''}"
                                                               th:href="@{'/purchase/order?page=' + ${pageNumber - 1} + '&size=10'}"
                                                               th:text="${pageNumber}"></a>
                                                        </li>

                                                        <li class="page-item">
                                                            <a class="page-link" href="#" aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Hover table card end -->
                            </div>
                            <!-- Page-body end -->

                        </div>
                    </div>
                    <!-- Main-body end -->

                    <div id="styleSelector">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="assets/js/modernizr/css-scrollbars.js"></script>
<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- classie js -->
<script type="text/javascript" src="assets/js/classie/classie.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    var $window = $(window);
    var nav = $('.fixed-button');
        $window.scroll(function(){
            if ($window.scrollTop() >= 200) {
             nav.addClass('active');
         }
         else {
             nav.removeClass('active');
         }
     });
    function updateLocation(category) {
        var newUrl = '/purchase/order?size=10&page=0&category=' + category;

        window.location.href = newUrl;
    }
    function performSearch(){
        var urlParams = new URLSearchParams(window.location.search);
        var category = urlParams.get('category');
        var searchValue = document.getElementById('searchInput').value;

        var encodedSearchValue = encodeURIComponent(searchValue);

        console.log(encodedSearchValue);
        console.log('Category:', category);

        window.location.href = '/purchase/order?size=10&page=0&category='+ category +'&keyword=' + encodedSearchValue;
    }
     document.getElementById('searchInput').addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            performSearch();
        }
    });
    function gotoDetail(id){
        var newUrl = '/purchase/order_detail?id=' + id;

        window.location.href = newUrl;
    }

</script>
</body>
</html>