<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
    <style>
        table{
         border-collapse: collapse;
         border-spacing: 0
        }
        th{
            background-color: #f6f7fb;
    	    color: #000;
        }
        th, td{
            border: 1px solid #ccc;
    	    padding: 10px;
        }
        input{
            border:none;
        }
        .d-inline {
            display: flex;
            align-items: center;
        }
        .btn-card {
            text-transform: uppercase;
            font-size: 13px;
            padding: 5px 10px;
            margin: 0px 10px;
            color: #fff;
            border-radius: 5px;
        }
        .document-title {
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>

<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header"
             th:include="includes/header :: header"
             th:with="name=${user.name}, part=${user.part}, roles=${user.roles}"></nav>

        <div class="pcoded-main-container" >
            <div th:include="includes/navbar :: navbar"
                 th:with="name=${user.name}, part=${user.part}, roles=${user.roles}"></div>

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">

                            <!-- Page-header start -->
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont icofont icofont-file-document bg-c-green"></i>
                                            <div class="d-inline">
                                                <h4>상세 내역</h4>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Page-header end -->

                            <!-- Page start -->
                            <div class="page-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">

                                            <div style="margin: auto; padding: 40px">
                                                <button type="button" class="btn btn-primary complete-btn" th:onclick="printPage()"><i class="ti-printer"></i> 출력</button>
                                                <th:block th:with="firstItem=${list[0]}">
                                                    <div id="print-area">
                                                        <h4 class="document-title" th:text="발주서"></h4>
                                                        <table style="table-layout:auto;">
                                                            <tbody>
                                                            <tr>
                                                                <th colspan="2">주문번호</th>
                                                                <td colspan="2" th:text="${firstItem.id}"></td>
                                                                <th colspan="2">회사명</th>
                                                                <td colspan="2" th:text="${firstItem.companyName}"></td>
                                                            </tr>
                                                            <tr>
                                                                <th rowspan="2" colspan="2">계약일자</th>
                                                                <td rowspan="2" colspan="2" th:text="${#temporals.format(firstItem.regdate, 'yyyy-MM-dd HH:mm')}"></td>
                                                                <th rowspan="1" colspan="2">사업자번호</th>
                                                                <td colspan="2" th:text="${firstItem.companyId}"></td>
                                                            </tr>
                                                            <tr>
                                                                <th rowspan="1" colspan="2">대표자</th>
                                                                <td colspan="2" th:text="${firstItem.ceo}"></td>
                                                            </tr>
                                                            <tr>
                                                                <th rowspan="2" colspan="2">납기일자</th>
                                                                <td colspan="2" rowspan="2" th:text="${#temporals.format(firstItem.deadline, 'yyyy-MM-dd HH:mm')}"></td>
                                                                <th colspan="2" rowspan="2">담당자</th>
                                                                <th>성명</th>
                                                                <td>박주영</td>
                                                            </tr>
                                                            <tr>
                                                                <th>연락처</th>
                                                                <td>010-3539-0819</td>
                                                            </tr>
                                                            <!---------------------------------------------------->
                                                            <tr>
                                                                <th colspan="2">제목</th>
                                                                <td colspan="6" th:text="|${firstItem.materialName} 외..|"></td>
                                                            </tr>
                                                            <!---------------------------------------------------->
                                                            <tr>
                                                                <th>No</th>
                                                                <th colspan="2">품명</th>
                                                                <th>카테고리</th>
                                                                <th>단가</th>
                                                                <th>수량(단위)</th>
                                                                <th colspan="2">금액</th>

                                                            </tr>
                                                            <tr th:each="item, stat : ${list}">
                                                                <td th:text="${stat.count}"></td>
                                                                <td colspan="2" th:text="${item.materialName}"></td>
                                                                <td th:text="${item.category}"></td>
                                                                <td th:text="${item.price}"></td>
                                                                <td th:text="${item.cnt}"></td>
                                                                <td colspan="2" th:text="${item.totalprice}">
                                                                    <button class="btn btn-card btn-primary">발주</button>
                                                                </td>
                                                            </tr>
                                                            <!---------------------------------------------------->
                                                            <tr>
                                                                <th colspan="3">합계(VAT 포함)</th>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td colspan="2"></td>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="2">특기사항</th>
                                                                <td colspan="6" th:text="${firstItem.memo}"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Page end -->
                        </div>
                    </div>
                    <!-- Main-body end -->

                    <div id="styleSelector">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="assets/js/modernizr/css-scrollbars.js"></script>
<!-- am chart -->
<script src="/pages/widget/amchart/amcharts.min.js"></script>
<script src="/pages/widget/amchart/serial.min.js"></script>
<!-- classie js -->
<script type="text/javascript" src="assets/js/classie/classie.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript " src="/js/SmoothScroll.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/demo-12.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    var initBodyHtml;

    function printPage() {
        // 인쇄 전에 현재의 HTML을 저장
        initBodyHtml = document.body.innerHTML;
        // 인쇄 시 인쇄 영역으로 HTML을 변경
        document.body.innerHTML = document.getElementById('print-area').innerHTML;
        // 실제 인쇄 명령 실행
        window.print();
        // 인쇄 후에 HTML을 복원
        document.body.innerHTML = initBodyHtml;
        location.reload();
    }
</script>
</body>
</html>